<div>
<mat-card style="width:25%; margin:auto">
  <mat-toolbar>
          <div style="text-align: center;margin-left: auto;margin-right: auto">
            <h2><span>Terrabird Login</span></h2>
          </div>
  </mat-toolbar>
  <mat-card-content style="margin-top: 20px;">
  <div id="loginForm">
  <mat-form-field>
     <input matInput placeholder="Enter email address">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
  </mat-form-field>
   <button mat-raised-button >Login</button>
  </div>
  </mat-card-content>
</mat-card>
</div>